<!doctype html>
<html>
<head>
  <title>Bike Life</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <!-- LOCAL INFORMATION -->
      <!-- <div class="col-sm-6">
      <div class="well">
      <h3><span class="fa fa-user"></span> Local</h3>

      <% if (user.local.email) { %>
      <p>
      <strong>id</strong>: <%= user._id %><br>]

      <strong>email</strong>: <%= user.local.email %><br>
      <strong>password</strong>: <%= user.local.password %>
    </p>

    <a href="/unlink/local" class="btn btn-default">Unlink</a>
    <% } else { %>
    <a href="/connect/local" class="btn btn-default">Connect Local</a>
    <% } %>

  </div>
</div> -->

<% if (user.local.email) { %>
  <select>
     <option id="borrows" value="<%= user._id %>"><%= user._id %></option>
  </select>
  <% } %>

<div class="col-sm-6">
  <h3>Stations</h3>

  <form class="" action="/borrow" method="POST">

      <ul class="stations">
        <li class="message">
          <select id="choose" name="station">
            <% for(var i=0; i<stations.length; i++) {%>
            <option value="<%= stations[i].name %>"><%= stations[i].name %></option>
            <% } %>
          </select>
          </li>
        </ul>

         <button id="grabBike" type="button" name="button">See Bikes </button>
         <p id="totalBikes" ></p>

           <% for(var i= stations.length -1; i<stations.length; i++) {%>

             <p> `${<%= stations[i].total_bikes  -  stations[i].loans.length %>}`</p>

           <% } %>


             <input type="hidden" name="userid" value="<%= user._id %>">

             <button id="borrowBike" type="submit" name="button">Borrow Bikes </button>

    </form>
     <!-- <p id="borrowedBikes" ></p> -->

  </div>

  <div class="col-sm-6">
    <h3>Messages</h3>
    <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <span><%= messages[i].name %></span>
          <span><%= messages[i].msg %></span>
          <!-- <span><%= messages[i].thumbUp %></span> -->
          <span><i class="fas fa-trash" aria-hidden="true"></i></span>
        </li>
      <% } %>
    </ul>

      <h2>Add a message</h2>
      <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
    </div>
      <% } %>
    </div>

    <!-- <ul class="stations"></ul> -->

    <script src="main.js"></script>
    <!-- <script src="bikeapi.js"></script> -->
    <!-- <script src="bike2.js"></script> -->
  </div>

</body>
</html>
